<table align="center" style="width:100%; border-spacing:0px; color:white ">
    <tbody>
    <tr>
        <td style="background-color:black; text-align:center"><img alt="" src="/images/logo.png" style="height:58px; width:403px" /></td>
    </tr>
    <tr>
        <td style="background-color:black; text-align:center">
            <h2>Asset Inspection Tracker</h2>
        </td>
    </tr>
    </tbody>
</table>